:root {
  --color-text: #151618;
  --color-accent: #e76a10;
  --color-bg: white;
}

html {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
}

body {
  color: var(--color-text);
  background-color: var(--color-bg);
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 4rem;
  line-height: 1.2;
}

p {
  font-size: 1.125rem;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: var(--color-text);
  font-size: 0.875rem;
  transition: color 0.5s ease-in-out;
}

img {
  display: block;
}

a:hover {
  color: var(--color-accent);
}

header {
  margin: 3rem 4rem 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 100;
  position: relative;
}

.header-side-content {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.header-side-content:last-child {
  justify-content: flex-end;
}

.button {
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button.primary {
  background-color: var(--color-accent);
  color: white;
  font-size: 1.125rem;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  transition: background-color 0.2s ease-in-out;
}

.button.primary:hover {
  background-color: var(--color-text);
}

#menu-button svg {
  fill: var(--color-text);
  transition: 0.5s ease-in-out;
}

ul.unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

#nav-social ul {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

#nav-social li {
  position: relative;
  display: flex;
  align-items: center;
}

#nav-social li:not(:last-child)::after {
  content: "";
  display: inline-block;
  height: 1px;
  width: 0.5rem;
  background-color: var(--color-text);
  margin-left: 1.5rem;
  transition: background-color 0.5s ease-in-out;
}

.container {
  margin: 0 4rem;
}

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

#hero-content {
  margin-left: 4rem;
}

#hero h1,
#hero p {
  max-width: 32vw;
  margin: 0 0 3rem;
}

#menu-container {
  position: absolute;
  inset: 0;
  background-color: var(--color-text);
  text-align: center;
  display: grid;
  place-content: center;
  z-index: 99;
  height: 0;
  transition: height 0.5s cubic-bezier(0.14, 0.65, 0.15, 1);
}

#menu-container a {
  display: inline-block;
  font-size: 2.25rem;
  line-height: 1.4;
  margin-bottom: 2rem;
  transition: color 0.5s ease-in-out;
  color: var(--color-bg);
}

#menu-container a:hover {
  color: var(--color-accent);
}

#menu-container li {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

:root[menu-open] #menu-container {
  height: 100%;
}

:root[menu-open] #menu-container li {
  opacity: 1;
}

:root[menu-open] #nav-social a {
  color: var(--color-bg);
}

:root[menu-open] #nav-social li::after {
  background-color: var(--color-bg);
}

/* Air */
