html {
  font-size: 16px;
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: 120%;
}

img {
  display: block;
}

#hero {
  background: linear-gradient(to bottom, #151618 64%, white 36%);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

#hero ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 5rem;
}

#main-header ul {
  display: flex;
  align-items: center;
  gap: 3rem;
}

#main-header a {
  text-decoration: none;
  color: #fff;
  font-size: 0.8125rem;
}

#page-title {
  width: 80%;
  margin: 0 auto;
  color: #eceff1;
  text-align: center;
}

#page-title p {
  font-size: 1.5625rem;
  font-weight: 200;
}

#page-title h1 {
  font-size: 3.0625rem;
  font-weight: 700;
}

#hero .accordion {
  width: 100%;
  margin: 0 4rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.accordion--item p {
  margin: 0;
}

.cloudy {
  background: var(--color-cloudy) url(/images/cloudy@c.png);
}

.cloudy .readings li {
  background-color: var(--color-cloudy-shade);
}

.sunny {
  background: var(--color-sunny) url("/starter kit/images/humid.jpg");
}

.sunny .readings li {
  background-color: var(--color-sunny-shade);
}

.rainy {
  background: var(--color-rainy) url("/starter kit/images/sun.jpg");
}

.rainy .readings li {
  background-color: var(--color-rainy-shade);
}

.thunderstorms {
  background: var(--color-thunderstorms) url("/starter kit/images/rainy.jpg");
}

.thunderstorms .readings li {
  background-color: var(--color-thunderstorms-shade);
}

.accordion--item {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 200%;
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 30rem;
  flex: 0 0 10rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.date li:nth-child(1) {
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

.date li:nth-child(2) {
  font-size: 0.8125rem;
}

.temp {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  opacity: 0;
}

.temp p {
  font-size: 2.1875rem;
  font-weight: 200;
  margin-bottom: 0.5rem;
}

.temp--values {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
  font-size: 1.125rem;
  font-weight: 700;
}

.temp--values li:nth-child(2) {
  color: rgba(255, 255, 255, 0.48);
}

.temp .temp--values li:nth-child(1) {
  font-size: 2.1875rem;
}

.temp .temp--values li:nth-child(2) {
  font-size: 1.5625rem;
}

.readings {
  display: flex;
  gap: 1rem;
  width: 28rem;
  opacity: 0;
}

.readings li {
  border-radius: 0.75rem;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  text-align: center;
}

.readings li p:nth-of-type(1) {
  font-size: 0.8125rem;
  font-weight: 700;
}

.readings li p:nth-of-type(2) {
  font-size: 0.8125rem;
  color: rgba(255, 255, 255, 0.48);
}

.bottom-temp {
  position: absolute;
  bottom: 2rem;
}

.opened {
  background-size: 32rem;
  flex-basis: 32rem;
  cursor: auto;
}

.opened .date li:nth-child(2) {
  color: rgba(255, 255, 255, 0.48);
}

.opened .temp,
.opened .readings {
  opacity: 1;
}

.opened .bottom-temp {
  opacity: 0;
}

/* Air */
/* In the video I'm using the following icons and imagery: */
/* - https://elements.envato.com/photo-realistic-weather-icon-set-K7MGJ3 */
/* - https://elements.envato.com/weather-icon-pack-3UHW3R3 */
.accordion--item {
  transition-property: flex-basis, background-size, padding;
}

.accordion--item {
  transition-duration: var(--def-transition-duration);
  transition-timing-function: ease-in-out;
}

.accordion--item:hover:not(.opened) {
  background-size: 32rem;
  padding-block: 3rem;
}

.accordion--item:hover:not(.opened) {
  transform: translate3d(0, -1rem, 0);
}
