html {
  font-size: 16px;
  font-family: "Figtree", sans-serif;
  line-height: 1.5;
}

#loading-screen {
  background-color: #fffbf1;
  height: 100dvh;
  display: grid;
  place-content: center;
  text-align: center;
  gap: 2rem;
  color: #62312d;
}

/* Air */
